table.dt-rowReorder-float {
    position: absolute !important;
    opacity: 0.8;
    table-layout: fixed;
    outline: 1px solid $blue;
    outline-offset: -1px;
    z-index: 2001;
    max-height:32px;
    td {
      cursor:grabbing !important;
    }
    .text-content{
      width:100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}

tr.dt-rowReorder-moving {
    outline: 1px solid $blue;
    outline-offset: -1px;
    max-height:32px;
}

body.dt-rowReorder-noOverflow {
    overflow-x: hidden;
}

// table.dataTable td.reorder {
//     text-align: center;
//     cursor: move;
// }

.table-reorderable {
  tbody {
    tr td:first-of-type:not(:only-child) {
      position: relative;
      cursor:grab;
      &:hover:before{
        content:'\f0dc';
        font-family: 'FontAwesome';
        color:$gray;
        position: absolute;
        left: calc( -#{$grid-gutter-width} / 2);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
