.link {
  color: $action;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: $border-width-sm solid;
  &:hover {
    color: $action-response;
    border-color: $action-response;
    text-decoration: none;
  }
  &.link--delete {
    &:hover {
      color: $action-important;
      border-color: $action-important;
      text-decoration: none;
    }
  }
}
