.modal {
  display: none;
  z-index: 3;
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  background-color: $lightgray;
  .modal-title{
    color: $black;
  }
  .modal-header{
    @extend .alert;
    position:sticky !important;
  }
  .modal-content{
    position:relative;
  }
  .modal-btn {
    position:absolute;
    z-index: 5;
    right:5%;
    top:50%;
    transform: translateY(-50%);
  }
  .modal-body {
    @extend .wrapper;
    padding-top:$spacing-md;
    display:flex;
    max-height: 80vh;
    align-items: center;
    @include media("<sm") {
      flex-direction: column-reverse;
    }
  }
  .modal-media {
    margin-right:$grid-gutter-width;
    flex:1;
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  .modal-desc {
    flex:1;
  }
}
