/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/


.button {
  display: inline-block;
  background-color: $action;
  border: $border-width-sm solid $body-color;
  color: $body-color;
  padding: .3em .8em .25em;
  &:hover {
    background-color: $body-color;
    color: $action;
    border-color: $action;
  }
}

/**
 * buttons > alt
 */

.button--alt {
  background-color: $body-color;
  border-color: $action;
  color: $action;
  &:hover {
    background-color: $action;
    color: $body-color;
    border-color: $body-color;
  }
}

/**
 * buttons > disabled
 */

.button--disabled {
  cursor: not-allowed;
  opacity: .3;
  &:hover {
    background-color: $action;
    border-color: $body-color;
    color: $body-color;
  }
}

/**
 * buttons > text-button
 */

.text-button {
  color: $action;
  border-bottom: $border-width-sm solid $action;
  padding-bottom: .1em;
  &:hover {
    background-color: rgba($action, .1);
  }
}

/**
 * buttons > text-button disabled
 */

.text-button--disabled {
  cursor: not-allowed;
  opacity: .3;
  &:hover {
    background-color: $body-color;
  }
}
