/*------------------------------------*\
  #EXTENDS
\*------------------------------------*/


// Completely remove from the flow and screen readers.

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}


// Completely remove from the flow but leave available to screen readers.

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}


// Display Classes

.hide {
  display: none;
}

.hide-xs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.hide-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none;
  }
}

.hide-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: none;
  }
}

.hide-lg {
  @media (min-width: $screen-lg-min) {
    display: none;
  }
}

// label

.label {
  margin-left: .5em;
  text-transform: uppercase;
  @include font-size($font-sizes-xs);
  position: relative;
  top: -.5em;
  letter-spacing: .1em;
}
