/*------------------------------------*\
  #DEFINITIONS
\*------------------------------------*/


dl {
  @include font-size($font-sizes-md);
  dt {
    @extend .font-body;
    padding-bottom: .3em;
    &:first-of-type {
      padding-top: .6em;
      border-top: $border-width-sm solid $base-color;
    }
  }
  dd{
    padding-bottom: .6em;
    margin-bottom: .6em;
    border-bottom: $border-width-sm $base-color solid;
  }
}



/*------------------------------------*\
  #ORDERED
\*------------------------------------*/


.content ol {
  counter-reset:li;
  li {
    position: relative;
    padding-left: 1.2em;
    @include font-size($font-sizes-md);
    margin-bottom: .5em;
    &:before {
      content:counter(li);
      counter-increment:li;
      position: absolute;
      left: 0;
      @extend .font-body;
      font-size: 1em;
      color: rgba($base-color, .5);
    }
  }
  ol > li:first-of-type {
    margin-top: .5em;
  }
}


/*------------------------------------*\
  #UNORDERED
\*------------------------------------*/


.content ul {
  li {
    position: relative;
    padding-left: 1.2em;
    @include font-size($font-sizes-md);
    margin-bottom: .5em;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      @extend .font-body;
      font-size: 1em;
    }
  }
  ol > li:first-of-type {
    margin-top: .5em;
  }
}



/*------------------------------------*\
  #TABLE
\*------------------------------------*/


.content table {
  width: 100%;
  @include font-size($font-sizes-md);
  thead {
    border-bottom: $border-width-md solid $base-color;
  }
  th {
    text-align: left;
    @extend .font-body;
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: rgba($action, .1);
    }
  }
  tfoot {
    border-top: $border-width-md solid $base-color;
  }
  th,
  td {
    padding: .5em 0;
  }
  @media (max-width: $screen-xs-max) {
    th,
    td {
      display: block;
    }
  }
}
