/*------------------------------------*\
  #COLORS
\*------------------------------------*/


// Main colour palette
$black            : #000000;
$white            : #FFFFFF;
$blue             : #0000FF;

// Assign colours to variable roles
$body-color       : $white;
$base-color       : $black;
$action           : rgba($base-color, .6);


/*------------------------------------*\
  #BORDERS WIDTH
\*------------------------------------*/


$border-width-sm         : 1px;
$border-width-md         : 3px;



/*------------------------------------*\
  #SPACING
\*------------------------------------*/


$spacing-base     : 5px;

$spacing-xxxl     : $spacing-base * 30;  // 150px
$spacing-xxl      : $spacing-base * 16;  // 80px
$spacing-xl       : $spacing-base * 12;  // 60px
$spacing-lg       : $spacing-base * 8;   // 40px
$spacing-md       : $spacing-base * 6;   // 30px
$spacing-sm       : $spacing-base * 4;   // 20px
$spacing-xs       : $spacing-base * 3;   // 15px
$spacing-xxs      : $spacing-base * 2;   // 10px

$spacing-res-ratio : 1.1;

$spacing-xxxl-responsive: (
  null : $spacing-xxxl / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-xxxl / $spacing-res-ratio,
  md   : $spacing-xxxl,
  lg   : $spacing-xxxl * $spacing-res-ratio,
);

$spacing-xxl-responsive: (
  null : $spacing-xxl / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-xxl / $spacing-res-ratio,
  md   : $spacing-xxl,
  lg   : $spacing-xxl * $spacing-res-ratio,
);

$spacing-xl-responsive: (
  null : $spacing-xl / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-xl / $spacing-res-ratio,
  md   : $spacing-xl,
  lg   : $spacing-xl * $spacing-res-ratio,
);

$spacing-lg-responsive: (
  null : $spacing-lg / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-lg / $spacing-res-ratio,
  md   : $spacing-lg,
  lg   : $spacing-lg * $spacing-res-ratio,
);

$spacing-md-responsive: (
  null : $spacing-md / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-md / $spacing-res-ratio,
  md   : $spacing-md,
  lg   : $spacing-md * $spacing-res-ratio,
);

$spacing-sm-responsive: (
  null : $spacing-sm / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-sm / $spacing-res-ratio,
  md   : $spacing-sm,
  lg   : $spacing-sm * $spacing-res-ratio,
);

$spacing-xs-responsive: (
  null : $spacing-xs / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-xs / $spacing-res-ratio,
  md   : $spacing-xs,
  lg   : $spacing-xs * $spacing-res-ratio,
);

$spacing-xxs-responsive: (
  null : $spacing-xxs / ($spacing-res-ratio * $spacing-res-ratio),
  sm   : $spacing-xxs / $spacing-res-ratio,
  md   : $spacing-xxs,
  lg   : $spacing-xxs * $spacing-res-ratio,
);
