/*------------------------------------*\
  #MODULES
\*------------------------------------*/


@import "modules/_reset.scss";
@import "modules/_fonts.scss";
@import "modules/_variables.scss";
@import "modules/_grid.scss";
@import "modules/_overwrite-floats.scss";
@import "modules/_mixins.scss";
@import "modules/_typography.scss";
@import "modules/_global.scss";


/*------------------------------------*\
  #PARTIALS
\*------------------------------------*/


@import "partials/components/_patternlab.scss";
@import "partials/components/_buttons.scss";
@import "partials/components/_medias.scss";


/*------------------------------------*\
  #VENDOR
\*------------------------------------*/

// @import "vendor/_vendor.scss";



/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/


body {
  @extend %font-body;
  background: $body-color;
  color: $base-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  ::-moz-selection { background-color: rgba($base-color, .2); color: $base-color; }
  ::selection { background-color: rgba($base-color, .2); color: $base-color; }
}



/*------------------------------------*\
  #PRINT
\*------------------------------------*/


@media print {
  body {
    font-size: percentage(10 / 16);
  }
}
