/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.wrapper {
  width: 40%;
  max-width: 800px;
  margin: 0 auto;
  @include media("<sm"){
    width:90%;
  }
}

.main {
  margin-top: $spacing-xxl;
}

body {
  min-height:200vh;
}
