@import "libs/01-settings.scss";
@import "libs/02-simplemde.scss";
@import "libs/03-select2.min.scss";
@import "libs/04-datepicker.scss";
@import "libs/05-colorpicker.scss";
@import "libs/99-fontawesome/variables";
@import "libs/99-fontawesome/mixins";
@import "libs/99-fontawesome/path";
@import "libs/99-fontawesome/core";
@import "libs/99-fontawesome/larger";
@import "libs/99-fontawesome/fixed-width";
@import "libs/99-fontawesome/list";
@import "libs/99-fontawesome/bordered-pulled";
@import "libs/99-fontawesome/animated";
@import "libs/99-fontawesome/rotated-flipped";
@import "libs/99-fontawesome/stacked";
@import "libs/99-fontawesome/icons";
@import "libs/99-fontawesome/screen-reader";

@import "includes/01-markdown-editor";

body{
  font-family: 'Arial','Helvetica neue', sans-serif;
  letter-spacing: 1px;
  color: #222;
  background: #efefef;
}

a,
a:active,
a:hover{
  color: #0065ff;
}

h2{
  font-size: 14px;
  margin-bottom: $spacing-regular;
  font-weight: bold;
}

/* ----- bootstrap hack ----- */


*{
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.main-container{
  margin-bottom: $spacing-large;
}

// Navigation

.navbar-default {
  background-color: $white;
  z-index: 9;
  a{
    color: $black;
  }
  .navbar-brand{
    color: $black;
    font-size: inherit;
    font-weight: bold;
  }
  .navbar-nav > li > a{
    color: $black;
  }
}


// Panneaux

.panel{
  border: none;
  box-shadow: none;
  > .panel-heading{
    background-color: $white;
    border-bottom: 2px solid $grey;
  }
  .tips{
    font-size: 10px;
    color: $greyDarker;
    font-weight: 400;
    padding-top: $spacing-small;
  }
  input[type="submit"]{
    margin-top: $spacing-regular;
  }
}

.ghost{
  display: none;
}

.table>thead:first-child>tr:first-child>td{
    vertical-align: middle;
}

.table>tbody>tr>td{
  border-top: none;
}

.media-panel{
  .list-group-item{
    font-size: 11px;
    letter-spacing: normal;
    border: none;
    padding: $spacing-small 0;
    a{
      display: block;
      width: 100%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      color: $black;
      padding-left: 25px;
      &:hover{
        text-decoration: none;
        i.fa-image{
          @extend .fa-ellipsis-h;
        }
      }
      &:focus,
      &:active{
        outline:0;
        text-decoration: none;
      }
    }
    i {
      position: absolute;
      left: 0;
      font-size: 14px;
      line-height: 1;
      padding-right: $spacing-small;
    }

  }
  .m-delete{
    float: right;
    display: inline-block;
    color: $black;
  }
  input[type="file"]{
    display: none;
  }
  .media-add{
    color: $blue;
  }
}


// Formulaires

input,
textarea{
  &::placeholder{
    color: $greyDark !important;
  }
}

.main-form{
  hr{
    margin: $spacing-large -30px;
    border-top: 2px solid $grey;
  }
  > .panel .panel{
    border-bottom: 2px solid $greyDark;
    .panel-heading{
      padding: 0;
      font-weight: bold;
      border-bottom: none;
    }
    .panel-body{
      padding: 0;
    }
  }
  .list-group{
    margin-bottom: $spacing-small;
  }
  .list-group-item{
    padding: 0;
    border: none;
  }

}


.form-group{
  &:not(.submit) {
    margin-bottom: 30px;
  }
}

.tip{
  font-weight: 400;
  color: $greyDark;
}

.tip.created_at{
  input{
    display: none;
    padding: $spacing-small;
    height: 20px;
    width: 200px;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  &.show{
    span{
      display: none;
    }
    input{
      display: inline;
    }
  }
}

.form-control{
  font-family: 'Helvetica neue', sans-serif;
  letter-spacing: 1px;
  border: 2px solid $greyDark;
  box-shadow: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus {
    border-color: $blue;
    outline: 0;
    box-shadow: none;
  }
}

.btn{
  background-color: $white;
  padding: .5em 1.2em;
  letter-spacing: 1px;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-width: 2px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}


.btn-default{
  border-color:$greyDark;
  color: $black;
  &:hover,
  &:active{
    border-color: $black;
    color: $black;
    background-color: $white;
  }

}

.btn-primary{
  border-color:$blue;
  color: $blue;
  &:hover,
  &:active,
  &:active:hover,
  &:focus,
  &:active:focus{
    color: $blueLight;
    background-color: $white;
    border-color:$blue;
    box-shadow: none;
  }
}

.btn-invert{
  border-color:$blue;
  color: white;
  background-color: $blue;
  &:hover,
  &:active{
    color: $blue;
    background-color: $white;
  }
}

.form-group.submit .btn{
  margin-right: 10px;
}


.delete-form{
  margin-bottom: $spacing-large;
}


/* ----- select2min ----- */

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: 2px solid $greyDark;
  min-height: 32px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $blue;
  border: none;
  color: $white;
  // margin: $spacing-small $spacing-xsmall $spacing-xsmall $spacing-xsmall;
  padding: .2em .5em;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-search--inline .select2-search__field,
.select2-search__field{
  letter-spacing: 1px;
  color: $greyDark;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  @extend .fa;
  @extend .fa-times;
  color: transparent;
  width: 0;
  margin-right: 18px;
  &:hover{
    color: transparent;
  }
  &:before{
    color: white;
  }
}

/* ----- sortable ----- */

.sortable-ghost{
  opacity: 0;
}

/* ----- custom ----- */

.panel-heading{
  h3{
    display: inline;
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  .message{
    font-size: 10px;
    background-color: $yellow;
    position: relative;
  }
}


.page-index{
  table .attribute{
    text-align: right;
    color: $greyDark;
  }
  tbody{
    tr i{
      color: $red;
      font-size: 10px;
      margin-right: $spacing-xsmall;
    }

    tr.published-1 i{
      color: $green;
    }
  }
  tfoot{

      border-top: 1px solid #DDD;

    >tr>td{
      border-top: none
    }
  }
}

.article-edit{
  .slug{
    display: block;
    margin-top: 3px;
    color: $greyDark;
  }
}

/* ----- modal ----- */

.modal{
  .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
  }
  figure img{
    max-width: 100%;
    height: auto;
  }
}

.modal-content {
  box-shadow: none;
  border: none;
}

.modal-backdrop {
  background-color: $grey;
}
.modal-backdrop.in{
  opacity: 1;
}

.modal-footer{
  text-align: left;
}



/* ----- Tags ----- */

.page-tags-index{
  .panel{
    margin-bottom: 1px;
  }
  .panel-heading{
    border-bottom: none;
    padding-bottom: 0;
  }
  .table>tbody>tr>td{
    padding: $spacing-xsmall $spacing-small;
  }
}


/* ----- Tabs ----- */

.nav-tabs{
  border-width: 2px;
  margin-bottom: $spacing-regular;
  >li{
    margin-bottom: -2px;
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
  border-width: 2px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: $blue;
}

/* ----- errors / help ----- */

.has-error{
  .control-label{
    color: $blue;
  }
  .form-control,
  .form-control:focus{
    border-color: $blue;
    box-shadow: none;
  }
}

.help-block{
  background-color: white;
  strong{
    color: $greyDarker;
    font-weight: 400;
  }
}
