/* ----- Login page ----- */

.admin.login,
.admin.reset_mail{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
  .form__container{
    width: 100%;
    margin: 0;
    @media (min-width: $screen-sm-min) {
      width: 350px;
    }
  }
  label{
    display: none;
  }
  .form-control{
    height: 40px;
    border-bottom: 0;
    border-top: 0;
    border-left: 2px solid $blue;
    border-right: 2px solid $blue;
  }
  .form__body{
    background-color: white;
  }
  input[type='password'] {
    border-top: 0;
  }
  .help-block + label + input[type='password'] {
    border: 2px solid $greyDark;
  }
  .form-group{
    margin-bottom: 0;
  }
  .remember{
    display: none;
  }
  .login__btn .btn{
    border: 0;
    width: 100%;
    text-align: left;
    height: 40px;
    &:hover{
      color: white;
      background-color: $blue;
    }
  }
  .fantom{
    position: absolute;
    width: 28px;
    height: 22px;
    background-image: url('images/fantom.gif');
    background-repeat: no-repeat;
  }
}


.login__header{
  padding: 1px;
  background-color: $blue;
}

.login__title{
  text-align: center;
  font-size: $font-size-regular;
  color: white;
  font-weight: 400;
  margin: 15px;
}

.login__password{
  line-height: 40px;
  a{
    color: $greyDarker;
    font-size: $font-size-xs;
  }
}

.admin.reset_password{
  .panel{
    margin-top: 10%;
  }
}
