
/* ----- Alerts ----- */

.has-error{
  .control-label{
    color: $blue;
  }
  .form-control,
  .form-control:focus{
    border-color: $blue;
    box-shadow: none;
  }
}

.help-block,
.has-error .help-block,
.create .help-block{
  background-color: $yellowLight;
  color: $greyDarker;
  display: inline-block;
  strong{
    color: $greyDarker;
    font-weight: 400;
  }
}


.alert{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: $yellowLight;
  z-index: 99;
  border: 0;

}

.alert-success {
  background-color: $blue;
}
