.panel {
  &.panel-edit {
    @include media(">=sm") {
      width: 66%;
      display: inline-block;
    }
    &.panel-edit--single{
      display:block;
      margin: 0 auto;
      .panel-heading{
        padding-bottom: $spacing-xs;
      }
    }
    .panel-heading {
      padding-top: $spacing-xs;
      padding-bottom: 0;
      display:flex;
      align-items: center;
      justify-content: space-between;
      .tab-select {
        flex-shrink: 0;
      }
      .edit-details {
        text-align: right;
        > * {
          display: inline-block;
          &:not(:first-child) {
            margin-left:$spacing-xs;
          }
        }
        .created_at{
        }
        input {
          line-height:1;
        }
      }
    }
  }
  .panel-body + .panel-body {
    margin-top: $spacing-sm;
  }
}

.created_at input {
  border: none;
  padding: 0;
  text-align: right;
  background-color:transparent;
  color:$gray;
  &:focus{
    color:$black;
  }
}

.form-group--published {
}

.form-group {
  .slug {
    display:inline-block;
    color: $gray;
    margin-top: $spacing-xxs;
  }
}

.CodeMirror,
.editor-toolbar,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-selection,
.select2-dropdown,
input{
  border-width: $border-width-sm !important;
  border-color: $bordergray !important;
  border-radius:0 !important;
  .select2-selection__choice {
    border: none;
    border-radius: 0;
    background-color: $lightgray;
  }
}
.select2-selection__choice {
  border: none;
  border-radius: 0;
  background-color: $lightgray;
}
