
.table-responsive {
  .btn-xs {
    position:absolute;
    right:0;
    top:$spacing-xs;
  }
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .panel-heading {
    padding-top:$spacing-xs;
    padding-bottom: $spacing-xs;
    .dataTables_filter {
      label{
        width: 30%;
        @include media("<sm") {
          width: calc(100% - 70px);
        }
      }
      input {
        @extend .form-control;
        border: 0;
        padding-top: $spacing-xxs;
        padding-bottom: $spacing-xxs;
        width: 100%;
      }
    }
  }

}


.dataTables_wrapper{
  .table {
    border:none;
    tr {
      border-bottom: $border-width-sm solid $lightgray;
      position:relative;
      th,
      td {
        padding: $spacing-xs calc(#{$grid-gutter-width} / 2);
        max-width: 20vw;
        &.main-column{
          width:60%;
          max-width: 50vw;
        }
        .text-content{
          width:100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &.is-published {
          width:0;
          text-align: center;
          & + td,
          & + th {
            padding-left: 0;
          }
        }
        &:first-child {
          padding-left :calc(#{$grid-gutter-width} / 2);
        }
        &:last-child {
          text-align:right;
          padding-right :calc(#{$grid-gutter-width} / 2);
        }
      }
      th {
        font-weight: bold;
      }
    }
  }

  .panel-footer {
    list-style: none;
    display:flex;
    justify-content: space-between;
    .dataTables_paginate {
      a {
        margin-right:$spacing-xxs;
        @extend .link;
        border:none;
        &.current {
          border-bottom: $border-width-sm solid;
        }
      }
    }
    @include media("<sm") {
      flex-direction: column-reverse;
      .dataTables_paginate {
        font-size: $font-size-lg;
        text-align: center;
        margin-bottom: $spacing-sm;
      }
    }
  }
  .dataTables_info{
    @extend %font-size-sm;
  }
}



.icon-published {
  font-size: $font-size-xs;
  vertical-align: middle;
  margin-right: $spacing-xxs;
  color: $blue;
}
