.navbar{
  margin-bottom: 0;
}

/* ----- Main navigation ----- */

.navbar-brand{
  padding: 10px;
}

.navbar-default {
  background-color: $white;
  z-index: 9;
  a{
    color: $black;
  }
  .navbar-toggle{
    border: 0;
    padding: 13px 10px;
    &:hover{
      background-color: $grey;
    }
    .icon-bar {
      background-color: $black;
    }
  }
  .navbar-nav > li > a{
    color: $black;
  }
}


/* ----- Sub navigation ----- */
.navbar-sub{
  a{
    color: $black;
  }
  .nav > li:first-of-type{
    margin-left: -15px;
  }
}
