
.table-responsive {
  .btn-xs {
    position:absolute;
    right:0;
    top:0.6rem;
  }
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .panel-heading {
    padding-top:$spacing-xs;
    padding-bottom: $spacing-xs;
    .dataTables_filter {
      label{
        width: 30%;
        @include media("<sm") {
          width: calc(100% - 70px);
        }
      }
      input {
        @extend .form-control;
        border: 0;
        padding-top: 0.42rem;
        padding-bottom: 0.42rem;
        width: 100%;
        border-bottom: 1px solid $lightgray; 
      }
    }
  }

}


.dataTables_wrapper{
  .table {
    border:none;
    tr {
      border-bottom: $border-width-sm solid $lightgray;
      position:relative;
      th,
      td {
        padding: $spacing-xs 0;
        &:first-child {
          padding-left :calc(#{$grid-gutter-width} / 2);
          @include media("<sm") {
            &:after{
              content:'.';
            }
          }
        }
        &:last-child {
          text-align:right;
          padding-right :calc(#{$grid-gutter-width} / 2);
        }
      }
      th {
        font-weight: bold;
      }
    }
  }

  .panel-footer {
    list-style: none;
    display:flex;
    justify-content: space-between;
    .dataTables_paginate {
      a {
        margin-right:$spacing-xxs;
        @extend .link;
        border:none;
        &.current {
          border-bottom: $border-width-sm solid;
        }
      }
    }
    @include media("<sm") {
      flex-direction: column-reverse;
      .dataTables_paginate {
        font-size: $font-size-lg;
        text-align: center;
        margin-bottom: $spacing-sm;
      }
    }
  }
}
