/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.main-content {
  margin-top: $spacing-sm !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  margin:0 auto;
  width: 90%;
  max-width: 1600px;
  &.wrapper--small {
    width: 60%;
    max-width: 1000px;
  }
}

.fantom{
  background-image: url('/assets/admin/images/fantom.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height:22px;
  width:28px;
  position:absolute;
  z-index:-1;
}

.panel-heading,
.panel-body,
.form__content {
  padding-left :calc(#{$grid-gutter-width} / 2);
  padding-right :calc(#{$grid-gutter-width} / 2);
}

.panel {
  padding-top: $spacing-sm;
  background-color: $white;
  &.panel-edit {
    width: 66%;
    display: inline-block;
    margin-right: $grid-gutter-width;
  }
}


.panel-heading {
  padding-bottom: $spacing-sm;
  border-bottom: $border-width-sm solid $lightgray;
  margin-bottom: $spacing-sm;
  h2,
  h3,
  h4,
  h5,
  h6 {
    display:inline;
  }
}

.panel-body {
  padding-bottom: $spacing-xs;
  &.panel-body:last-child{
    padding-bottom: $spacing-md;
  }
}

label {
  display:inline-block;
}

.form-group {
  margin: $spacing-sm 0;
  &:first-of-type{
    margin-top:0;
  }
  label {
    margin-bottom: $spacing-xxs;
  }
}
.form-control {
  display:block;
  width:100%;
  resize:none;
  border: $border-width-sm solid $gray;
  padding: $spacing-xxs $spacing-xs;
}

input[type="checkbox"]{
  margin-right: $spacing-xxs;
}
input::placeholder, textarea::placeholder {
    color: #DDD !important;
}
input.created_at {
  border: none;
  padding: 0;
  text-align: right;
  color:$lightgray;
  &:focus{
    color:gray;
  }
}
