/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.main-content {
  margin-top: $spacing-sm !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.help-block,
.alert  {
  display: inline-block;
  text-align: left;
  background-color: #ffd000;
  position: fixed;
  left:0;
  top: 0;
  z-index: 5;
  padding-left: calc(#{$grid-gutter-width} + 30px + #{$spacing-xs} );
  padding-right: calc(#{$grid-gutter-width} / 3 );
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  &:before {
    content:"";
    width: 30px;
    height:100%;
    position:absolute;
    top:0;
    left: $grid-gutter-width;
    display: block;
    margin-right: $grid-gutter-width;
    background-image: url('/assets/admin/images/fantom_.gif');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.wrapper {
  margin:0 auto;
  width: 90%;
  max-width: 1600px;
  &.wrapper--small {
    width: 60%;
    max-width: 1000px;
  }
}

.fantom{
  background-image: url('/assets/admin/images/fantom.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height:22px;
  width:28px;
  position:absolute;
  z-index:-1;
}


.panel-body {
  padding-left :calc(#{$grid-gutter-width} / 2);
  padding-right :calc(#{$grid-gutter-width} / 2);
}

.panel {
  position:relative;
}
.panel-heading {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-xs;
  color: $gray;
  h2,
  h3,
  h4,
  h5,
  h6 {
    display:inline;
  }
}

.panel-body {
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
  background-color: $white;
}

.panel-action {
  padding-top: $spacing-sm;
  background-color: $white;
}

.panel-footer {
  list-style: none;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-md;
  color: $gray;
  li {
    display: inline-block;
    margin-right: $spacing-sm;
  }
}

label {
  display:inline-block;
}

.form-group {
  margin-top: $spacing-sm;
  &:first-of-type{
    margin-top:0;
  }
  label {
    margin-bottom: $spacing-xxs;
  }
}
.form-control {
  display:block;
  width:100%;
  resize:none;
  border: $border-width-sm solid $gray;
  padding: $spacing-xxs $spacing-xs;
  &:focus{
    border-color: $blue !important;
  }
}



input[type="checkbox"]{
  margin-right: $spacing-xxs;
}
input::placeholder, textarea::placeholder {
  color: #DDD !important;
}
